* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card {
    width: 270px;
    height: 120px;
    perspective: 1000px;
    margin: 20px;
    cursor: pointer;
    user-select: none;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    user-select: none;
    position: relative;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: rgb(86, 54, 20);
}

.card-front {
  background: #f2f2f2;
  font-size: 28px;
}

.card-back {
  background: #ffd966;
  transform: rotateY(180deg);
  font-size: 16px;
  padding: 10px;
  line-height: 1.5;
}